#OPENAI_API_KEY=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
OPENROUTER_API_KEY=your API key